<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605708485913-qe4g055qqcn451q61q5ou9c13d584avj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605708485913-qe4g055qqcn451q61q5ou9c13d584avj</string>
	<key>API_KEY</key>
	<string>AIzaSyAwbeC5R8LECf10bYG8NjYhDVFvvuVbmW0</string>
	<key>GCM_SENDER_ID</key>
	<string>605708485913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ageup.history</string>
	<key>PROJECT_ID</key>
	<string>ageup-history</string>
	<key>STORAGE_BUCKET</key>
	<string>ageup-history.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605708485913:ios:7db10953b0440b97013188</string>
	<key>DATABASE_URL</key>
	<string>https://ageup-history-default-rtdb.firebaseio.com</string>
</dict>
</plist>